USE [master]
GO
sp_addextendedproc 'XP_MD5_EncodeKeyVal', 'WZ_MD5_MOD.dll'
GO
sp_addextendedproc 'XP_MD5_CheckValue', 'WZ_MD5_MOD.dll'
GO

USE [MuOnline97]
GO
/****** Object:  StoredProcedure [dbo].[WZ_CONNECT_MEMB]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_CONNECT_MEMB]
	@memb___id varchar(10),
	@ServerName varchar(50),
	@IP varchar(20)	
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @find_id varchar(10)
	DECLARE @ConnectStat tinyint

	SET @find_id = 'NOT'
	SET @ConnectStat = 1

	SELECT @find_id = S.memb___id
	FROM MEMB_STAT S INNER JOIN MEMB_INFO I ON S.memb___id = I.memb___id
	WHERE I.memb___id = @memb___id

	IF (@find_id = 'NOT')
	BEGIN
		INSERT INTO MEMB_STAT (memb___id, ConnectStat, ServerName, IP, ConnectTM)
		VALUES (@memb___id, @ConnectStat, @ServerName, @IP, GETDATE())
	END
	ELSE
	BEGIN
		UPDATE MEMB_STAT
		SET ConnectStat = @ConnectStat, ServerName = @ServerName, IP = @IP, ConnectTM = GETDATE()
		WHERE memb___id = @memb___id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_CreateCharacter]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[WZ_CreateCharacter]
	@AccountID varchar(10),
	@Name varchar(10),
	@Class tinyint
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @Result tinyint

	SET @Result = 0x00

	IF EXISTS (SELECT Name FROM Character WHERE Name = @Name)
	BEGIN
		SET @Result = 0x01
		GOTO ProcEnd
	END

	BEGIN TRAN

	IF NOT EXISTS (SELECT Id FROM AccountCharacter WHERE Id = @AccountID)
	BEGIN
		INSERT INTO AccountCharacter (Id, GameID1, GameID2, GameID3, GameID4, GameID5, GameIDC)
		VALUES (@AccountID, @Name, NULL, NULL, NULL, NULL, NULL)

		SET @Result = @@Error
	END
	ELSE
	BEGIN
		DECLARE @g1 varchar(10), @g2 varchar(10), @g3 varchar(10), @g4 varchar(10), @g5 varchar(10)

		SELECT @g1=GameID1, @g2=GameID2, @g3=GameID3, @g4=GameID4, @g5=GameID5
		FROM AccountCharacter
		WHERE Id = @AccountID

		IF((@g1 IS NULL) OR (Len(@g1) = 0))
		BEGIN
			UPDATE AccountCharacter
			SET GameID1 = @Name
			WHERE Id = @AccountID

			SET @Result = @@Error
		END
		ELSE IF((@g2 IS NULL) OR (Len(@g2) = 0))
		BEGIN
			UPDATE AccountCharacter
			SET GameID2 = @Name
			WHERE Id = @AccountID

			SET @Result = @@Error
		END
		ELSE IF((@g3 IS NULL) OR (Len(@g3) = 0))
		BEGIN
			UPDATE AccountCharacter
			SET GameID3 = @Name
			WHERE Id = @AccountID

			SET @Result = @@Error
		END
		ELSE IF((@g4 IS NULL) OR (Len(@g4) = 0))
		BEGIN
			UPDATE AccountCharacter
			SET GameID4 = @Name
			WHERE Id = @AccountID

			SET @Result = @@Error
		END
		ELSE IF((@g5 IS NULL) OR (Len(@g5) = 0))
		BEGIN
			UPDATE AccountCharacter
			SET GameID5 = @Name
			WHERE Id = @AccountID

			SET @Result = @@Error
		END
		ELSE
		BEGIN
			SET @Result = 0x03

			GOTO TranProcEnd
		END
	END

	IF (@Result <> 0)
	BEGIN
		GOTO TranProcEnd
	END
	ELSE
	BEGIN
		INSERT INTO Character (AccountID, Name, cLevel, LevelUpPoint, Class, Strength, Dexterity, Vitality, Energy, Inventory, MagicList, Life, MaxLife, Mana, MaxMana, BP, MaxBP, MapNumber, MapPosX, MapPosY, Quest, DbVersion, EffectList)
		SELECT @AccountID AS AccountID, @Name AS Name, Level, LevelUpPoint, @Class AS Class, Strength, Dexterity, Vitality, Energy, Inventory, MagicList, Life, MaxLife, Mana, MaxMana, 0, 0, MapNumber, MapPosX, MapPosY, Quest, DbVersion, EffectList
		FROM DefaultClassType WHERE Class = @Class

		SET @Result = @@Error
	END

TranProcEnd:

	IF (@Result <> 0)
		ROLLBACK TRAN
	ELSE
		COMMIT TRAN

ProcEnd:

	SET NOCOUNT OFF
	SET XACT_ABORT OFF

	SELECT CASE @Result
		WHEN 0x00 THEN 0x01
		WHEN 0x01 THEN 0x00
		WHEN 0x03 THEN 0x03
		ELSE 0x02
	END AS Result 
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_CreateCharacter_GetVersion]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_CreateCharacter_GetVersion]
AS
BEGIN
	SELECT 1
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_DeleteCharacter]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[WZ_DeleteCharacter] 
	@Account varchar(10),
	@Name varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @Result tinyint

	SET @Result = 0

	IF NOT EXISTS (SELECT Name FROM Character WHERE Name = @Name)
	BEGIN
		SET @Result = 0
	END
	ELSE
	BEGIN
		SET @Result = 1
		DELETE FROM Character WHERE AccountID = @Account AND Name= @Name
		DELETE FROM ResetInfo WHERE Name = @Name
		DELETE FROM OptionData WHERE Name = @Name
		DELETE FROM RankingBloodCastle WHERE Name = @Name
		DELETE FROM RankingDevilSquare WHERE Name = @Name
	END

	SELECT @Result

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_DesblocAccount]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_DesblocAccount]
	@Account varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	UPDATE MEMB_INFO
	SET bloc_code = 0
	WHERE memb___id = @Account AND bloc_code = 1 AND bloc_expire < GETDATE()

	UPDATE Character
	SET CtlCode = 0
	WHERE AccountID = @Account AND CtlCode = 1 AND bloc_expire < GETDATE()

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_DISCONNECT_MEMB]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_DISCONNECT_MEMB]
	@memb___id varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @find_id varchar(10)
	DECLARE @ConnectStat tinyint

	SET @ConnectStat = 0
	SET @find_id = 'NOT'

	SELECT @find_id = S.memb___id
	FROM MEMB_STAT S INNER JOIN MEMB_INFO I ON S.memb___id = I.memb___id 
	WHERE I.memb___id = @memb___id

	IF (@find_id <> 'NOT')
	BEGIN
		UPDATE MEMB_STAT
		SET ConnectStat = @ConnectStat, DisConnectTM = GETDATE(), OnlineHours = OnlineHours + (DATEDIFF(HOUR, ConnectTM, GETDATE()))
		WHERE memb___id = @memb___id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_Get_DBID]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_Get_DBID]
AS
BEGIN
	SELECT 1 as Version
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetAccountLevel]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_GetAccountLevel]
	@Account varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @CurrentAccountLevel int
	DECLARE @CurrentAccountExpireDate smalldatetime
 
	SELECT @CurrentAccountLevel = AccountLevel, @CurrentAccountExpireDate = AccountExpireDate
	FROM MEMB_INFO
	WHERE memb___id = @Account
 
	IF ((@CurrentAccountLevel <> 0) AND (GETDATE() >= @CurrentAccountExpireDate))
	BEGIN
		SET @CurrentAccountLevel = 0

		UPDATE MEMB_INFO
		SET AccountLevel = 0
		WHERE memb___id = @Account
	END

	SELECT @CurrentAccountLevel AS AccountLevel, @CurrentAccountExpireDate AS AccountExpireDate

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetGrandResetInfo]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_GetGrandResetInfo]
	@Account varchar(10),
	@Name varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @GrandReset int
	DECLARE @GrandResetDay int
	DECLARE @GrandResetDayDate smalldatetime
	DECLARE @GrandResetWek int
	DECLARE @GrandResetWekDate smalldatetime
	DECLARE @GrandResetMon int
	DECLARE @GrandResetMonDate smalldatetime

	IF NOT EXISTS (SELECT * FROM ResetInfo WITH (READUNCOMMITTED) WHERE Name = @Name)
	BEGIN
		INSERT INTO ResetInfo (Name)
		VALUES (@Name)
	END

	SELECT @GrandReset = GrandResetCount
	FROM Character
	WHERE AccountID = @Account AND Name = @Name

	SELECT @GrandResetDay = GrandResetDay, @GrandResetDayDate = GrandResetDayDate, @GrandResetWek = GrandResetWek, @GrandResetWekDate = GrandResetWekDate, @GrandResetMon = GrandResetMon, @GrandResetMonDate = GrandResetMonDate
	FROM ResetInfo
	WHERE Name = @Name

	IF (DATEDIFF(DAY, @GrandResetDayDate, GETDATE()) > 0)
	BEGIN
		SET @GrandResetDay = 0

		UPDATE ResetInfo
		SET GrandResetDay = @GrandResetDay
		WHERE Name = @Name
	END

	IF (DATEDIFF(WEEK, @GrandResetWekDate, GETDATE()) > 0)
	BEGIN
		SET @GrandResetWek = 0

		UPDATE ResetInfo
		SET GrandResetWek = @GrandResetWek
		WHERE Name = @Name
	END

	IF (DATEDIFF(MONTH, @GrandResetMonDate, GETDATE()) > 0)
	BEGIN
		SET @GrandResetMon = 0

		UPDATE ResetInfo
		SET GrandResetMon = @GrandResetMon
		WHERE Name = @Name
	END

	SELECT @GrandReset AS GrandReset, @GrandResetDay AS GrandResetDay, @GrandResetWek AS GrandResetWek, @GrandResetMon AS GrandResetMon

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetItemSerial]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_GetItemSerial]
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @ItemSerial	int

	BEGIN TRANSACTION

	SELECT @ItemSerial = ItemCount
	FROM GameServerInfo
	WHERE Number = 0

	IF (@ItemSerial >= 2147483646)
	BEGIN
		SET @ItemSerial = 0
	END
	ELSE
	BEGIN
		SET @ItemSerial = @ItemSerial + 1
	END

	UPDATE GameServerInfo
	SET ItemCount = @ItemSerial
	WHERE Number = 0
			
	IF (@@error <> 0)
	BEGIN
		ROLLBACK TRANSACTION

		SELECT -1
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION

		SELECT @ItemSerial
	END
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetResetInfo]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_GetResetInfo]
	@Account varchar(10),
	@Name varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @Reset int
	DECLARE @ResetDay int
	DECLARE @ResetDayDate smalldatetime
	DECLARE @ResetWek int
	DECLARE @ResetWekDate smalldatetime
	DECLARE @ResetMon int
	DECLARE @ResetMonDate smalldatetime

	IF NOT EXISTS (SELECT * FROM ResetInfo WITH (READUNCOMMITTED) WHERE Name = @Name)
	BEGIN
		INSERT INTO ResetInfo (Name)
		VALUES (@Name)
	END

	SELECT @Reset = ResetCount
	FROM Character
	WHERE AccountID = @Account AND Name = @Name

	SELECT @ResetDay = ResetDay, @ResetDayDate = ResetDayDate, @ResetWek = ResetWek, @ResetWekDate = ResetWekDate, @ResetMon = ResetMon, @ResetMonDate = ResetMonDate
	FROM ResetInfo
	WHERE Name = @Name

	IF (DATEDIFF(DAY, @ResetDayDate, GETDATE()) > 0)
	BEGIN
		SET @ResetDay = 0

		UPDATE ResetInfo
		SET ResetDay = @ResetDay
		WHERE Name = @Name
	END

	IF (DATEDIFF(WEEK, @ResetWekDate, GETDATE()) > 0)
	BEGIN
		SET @ResetWek = 0

		UPDATE ResetInfo
		SET ResetWek = @ResetWek
		WHERE Name = @Name
	END

	IF (DATEDIFF(MONTH, @ResetMonDate, GETDATE()) > 0)
	BEGIN
		SET @ResetMon = 0

		UPDATE ResetInfo
		SET ResetMon = @ResetMon
		WHERE Name = @Name
	END

	SELECT @Reset AS Reset, @ResetDay AS ResetDay, @ResetWek AS ResetWek, @ResetMon AS ResetMon

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GuildCreate]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_GuildCreate]
	@GuildName varchar(8),
	@MasterName varchar(10)
AS
BEGIN
	SET XACT_ABORT ON
	SET NOCOUNT ON

	DECLARE @ErrorCode int

	SET @ErrorCode = 0

	BEGIN TRANSACTION

	INSERT INTO Guild (G_Name, G_Master)
	VALUES (@GuildName, @MasterName)

	IF (@@Error <> 0)
	BEGIN
		SET @ErrorCode = 1
	END

	IF (@ErrorCode = 0)
	BEGIN
		INSERT INTO GuildMember (Name, G_Name)
		VALUES (@MasterName, @GuildName)

		IF (@@Error <> 0)
		BEGIN
			SET @ErrorCode = 2
		END
	END

	IF (@ErrorCode <> 0)
		ROLLBACK TRANSACTION
	ELSE
		COMMIT TRANSACTION

	SELECT @ErrorCode

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetAccountLevel]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_SetAccountLevel]
	@Account varchar(10),
	@AccountLevel int,
	@AccountExpireTime int
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @CurrentAccountLevel int
	DECLARE @CurrentAccountExpireDate smalldatetime

	SELECT @CurrentAccountLevel = AccountLevel, @CurrentAccountExpireDate = AccountExpireDate
	FROM MEMB_INFO
	WHERE memb___id = @Account

	IF (@CurrentAccountLevel = @AccountLevel)
	BEGIN
		SET @CurrentAccountLevel = @CurrentAccountLevel

		SET @CurrentAccountExpireDate = DATEADD(SECOND, @AccountExpireTime, @CurrentAccountExpireDate)
	END
	ELSE
	BEGIN
		SET @CurrentAccountLevel = @AccountLevel

		SET @CurrentAccountExpireDate = DATEADD(SECOND, @AccountExpireTime, GETDATE())
	END

	UPDATE MEMB_INFO
	SET AccountLevel = @CurrentAccountLevel, AccountExpireDate = @CurrentAccountExpireDate
	WHERE memb___id = @Account

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetGrandResetInfo]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_SetGrandResetInfo]
	@Account varchar(10),
	@Name varchar(10),
	@Reset int,
	@GrandReset int,
	@GrandResetDay int,
	@GrandResetWek int,
	@GrandResetMon int
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	UPDATE Character
	SET ResetCount = @Reset, GrandResetCount = @GrandReset
	WHERE AccountID = @Account AND Name = @Name

	UPDATE ResetInfo
	SET GrandResetDay = @GrandResetDay, GrandResetDayDate = GETDATE(), GrandResetWek = @GrandResetWek, GrandResetWekDate = GETDATE(), GrandResetMon = @GrandResetMon, GrandResetMonDate = GETDATE()
	WHERE Name = @Name

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetGuildDelete]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_SetGuildDelete]
	@GuildName varchar(10)
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @Result int
	
	SET @Result = 1

	BEGIN TRANSACTION

	DELETE FROM GuildMember
	WHERE G_Name = @GuildName
		
	IF (@@Error <> 0)
	BEGIN
		SET @Result = 0

		GOTO PROBLEM
	END

	DELETE FROM Guild
	WHERE G_Name = @GuildName

	IF (@@Error <> 0)
	BEGIN
		SET @Result = 0

		GOTO PROBLEM
	END
	ELSE GOTO SUCESS

PROBLEM:

	ROLLBACK TRANSACTION
 
SUCESS:

	COMMIT TRANSACTION

	SELECT @Result As Result

	SET NOCOUNT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetResetInfo]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WZ_SetResetInfo]
	@Account varchar(10),
	@Name varchar(10),
	@Reset int,
	@ResetDay int,
	@ResetWek int,
	@ResetMon int
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	UPDATE Character
	SET ResetCount = @Reset
	WHERE AccountID = @Account AND Name = @Name

	UPDATE ResetInfo
	SET ResetDay = @ResetDay, ResetDayDate = GETDATE(), ResetWek = @ResetWek, ResetWekDate = GETDATE(), ResetMon = @ResetMon, ResetMonDate = GETDATE()
	WHERE Name = @Name

	SET NOCOUNT OFF
	SET XACT_ABORT OFF
END
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_MD5_CHECKVALUE]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UFN_MD5_CHECKVALUE]
(
	@btInStr VARCHAR(10),
	@btInStrIndex VARCHAR(10),
	@btInVal BINARY(16)
)
RETURNS TINYINT 
AS  
BEGIN 
	DECLARE	@iOutResult TINYINT

	EXEC master..XP_MD5_CheckValue @btInStr, @btInVal, @btInStrIndex, @iOutResult OUT

	RETURN @iOutResult
END
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_MD5_ENCODEVALUE]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UFN_MD5_ENCODEVALUE]
(
	@btInStr VARCHAR(10),
	@btInStrIndex VARCHAR(10)
)
RETURNS BINARY(16)
AS  
BEGIN 
	DECLARE	@btOutVal BINARY(16)

	EXEC master..XP_MD5_EncodeKeyVal @btInStr, @btInStrIndex, @btOutVal OUT

	RETURN @btOutVal
END
GO
/****** Object:  Table [dbo].[AccountCharacter]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountCharacter](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[GameID1] [varchar](10) NULL,
	[GameID2] [varchar](10) NULL,
	[GameID3] [varchar](10) NULL,
	[GameID4] [varchar](10) NULL,
	[GameID5] [varchar](10) NULL,
	[GameIDC] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Character]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Character](
	[AccountID] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[ResetCount] [int] NOT NULL,
	[GrandResetCount] [int] NOT NULL,
	[cLevel] [int] NULL,
	[LevelUpPoint] [int] NULL,
	[Class] [tinyint] NULL,
	[Experience] [int] NULL,
	[Strength] [int] NULL,
	[Dexterity] [int] NULL,
	[Vitality] [int] NULL,
	[Energy] [int] NULL,
	[Inventory] [varbinary](760) NULL,
	[MagicList] [varbinary](180) NULL,
	[Money] [int] NULL,
	[Life] [real] NULL,
	[MaxLife] [real] NULL,
	[Mana] [real] NULL,
	[MaxMana] [real] NULL,
	[BP] [real] NULL,
	[MaxBP] [real] NULL,
	[MapNumber] [smallint] NULL,
	[MapPosX] [smallint] NULL,
	[MapPosY] [smallint] NULL,
	[MapDir] [tinyint] NULL,
	[PkCount] [int] NULL,
	[PkLevel] [int] NULL,
	[PkTime] [int] NULL,
	[CtlCode] [tinyint] NULL,
	[Bloc_Expire] [smalldatetime] NULL,
	[DbVersion] [tinyint] NULL,
	[Quest] [varbinary](50) NULL,
	[ChatLimitTime] [smallint] NULL,
	[FruitPoint] [int] NULL,
	[EffectList] [varbinary](208) NULL,
	[FruitAddPoint] [int] NOT NULL,
	[FruitSubPoint] [int] NOT NULL,
	[mu_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DefaultClassType]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DefaultClassType](
	[Class] [tinyint] NOT NULL,
	[Level] [smallint] NULL,
	[LevelUpPoint] [smallint] NULL,
	[Strength] [smallint] NULL,
	[Dexterity] [smallint] NULL,
	[Vitality] [smallint] NULL,
	[Energy] [smallint] NULL,
	[Inventory] [varbinary](760) NULL,
	[MagicList] [varbinary](180) NULL,
	[Life] [real] NULL,
	[MaxLife] [real] NULL,
	[Mana] [real] NULL,
	[MaxMana] [real] NULL,
	[MapNumber] [smallint] NULL,
	[MapPosX] [smallint] NULL,
	[MapPosY] [smallint] NULL,
	[Quest] [varbinary](50) NULL,
	[DbVersion] [tinyint] NULL,
	[EffectList] [varbinary](208) NULL,
 CONSTRAINT [PK_DefaultClassType] PRIMARY KEY CLUSTERED 
(
	[Class] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtWarehouse]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtWarehouse](
	[AccountID] [varchar](10) NOT NULL,
	[Items] [varbinary](1920) NULL,
	[Money] [int] NULL,
	[Number] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GameServerInfo]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameServerInfo](
	[Number] [int] NOT NULL,
	[ItemCount] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoldenCoin]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoldenCoin](
	[AccountID] [varchar](50) NOT NULL,
	[RenaCount] [smallint] NOT NULL,
	[StoneCount] [smallint] NOT NULL,
	[LuckyNumber] [varchar](12) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guild]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Guild](
	[G_Name] [varchar](8) NOT NULL,
	[G_Mark] [varbinary](32) NULL,
	[G_Score] [int] NULL,
	[G_Master] [varchar](10) NULL,
	[G_Notice] [varchar](60) NULL,
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[MemberCount] [int] NULL,
 CONSTRAINT [PK_Guild] PRIMARY KEY CLUSTERED 
(
	[G_Name] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GuildMember]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GuildMember](
	[Name] [varchar](10) NOT NULL,
	[G_Name] [varchar](8) NOT NULL,
	[G_Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_GuildMember] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMB_INFO]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMB_INFO](
	[memb_guid] [int] IDENTITY(1,1) NOT NULL,
	[memb___id] [varchar](10) NOT NULL,
	[memb__pwd] [varchar](10) NOT NULL,
	[memb_name] [varchar](10) NOT NULL,
	[sno__numb] [char](18) NOT NULL,
	[bloc_code] [char](1) NOT NULL,
	[AccountLevel] [int] NOT NULL,
	[AccountExpireDate] [smalldatetime] NOT NULL,
	[Bloc_Expire] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMB_STAT]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMB_STAT](
	[memb___id] [varchar](10) NOT NULL,
	[ConnectStat] [tinyint] NULL,
	[ServerName] [varchar](50) NULL,
	[IP] [varchar](15) NULL,
	[ConnectTM] [smalldatetime] NULL,
	[DisConnectTM] [smalldatetime] NULL,
	[OnlineHours] [int] NULL,
	[memb_guid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MEMB_STAT] PRIMARY KEY CLUSTERED 
(
	[memb___id] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OptionData]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OptionData](
	[Name] [varchar](10) NOT NULL,
	[SkillKey] [binary](10) NULL,
	[GameOption] [tinyint] NULL,
	[Qkey] [tinyint] NULL,
	[Wkey] [tinyint] NULL,
	[Ekey] [tinyint] NULL,
	[ChatWindow] [tinyint] NULL,
 CONSTRAINT [PK_OptionData] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RankingBloodCastle]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RankingBloodCastle](
	[Name] [varchar](10) NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_RankingBloodCastle] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RankingDevilSquare]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RankingDevilSquare](
	[Name] [varchar](10) NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_RankingDevilSquare] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResetInfo]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResetInfo](
	[Name] [varchar](10) NOT NULL,
	[ResetDay] [int] NOT NULL,
	[ResetDayDate] [smalldatetime] NULL,
	[ResetWek] [int] NOT NULL,
	[ResetWekDate] [smalldatetime] NULL,
	[ResetMon] [int] NOT NULL,
	[ResetMonDate] [smalldatetime] NULL,
	[GrandResetDay] [int] NOT NULL,
	[GrandResetDayDate] [smalldatetime] NULL,
	[GrandResetWek] [int] NOT NULL,
	[GrandResetWekDate] [smalldatetime] NULL,
	[GrandResetMon] [int] NOT NULL,
	[GrandResetMonDate] [smalldatetime] NULL,
 CONSTRAINT [PK_ResetInfo] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 30/04/2022 15:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[warehouse](
	[AccountID] [varchar](10) NOT NULL,
	[Items] [varbinary](1200) NULL,
	[Money] [int] NULL,
	[EndUseDate] [smalldatetime] NULL,
	[DbVersion] [tinyint] NULL,
	[pw] [smallint] NULL,
 CONSTRAINT [PK_warehouse] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_AccountCharacter]    Script Date: 30/04/2022 15:30:32 ******/
ALTER TABLE [dbo].[AccountCharacter] ADD  CONSTRAINT [PK_AccountCharacter] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_Character]    Script Date: 30/04/2022 15:30:32 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [PK_Character] PRIMARY KEY NONCLUSTERED 
(
	[Name] ASC
) ON [PRIMARY]
GO
/****** Object:  Index [PK_GameServerInfo]    Script Date: 30/04/2022 15:30:32 ******/
ALTER TABLE [dbo].[GameServerInfo] ADD  CONSTRAINT [PK_GameServerInfo] PRIMARY KEY NONCLUSTERED 
(
	[Number] ASC
) ON [PRIMARY]
GO
/****** Object:  Index [PK_MEMB_INFO_1]    Script Date: 30/04/2022 15:30:32 ******/
ALTER TABLE [dbo].[MEMB_INFO] ADD  CONSTRAINT [PK_MEMB_INFO_1] PRIMARY KEY NONCLUSTERED 
(
	[memb_guid] DESC
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Reset__515009E6]  DEFAULT ((0)) FOR [ResetCount]
GO
ALTER TABLE [dbo].[Character] ADD  DEFAULT ((0)) FOR [GrandResetCount]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_cLevel]  DEFAULT ((1)) FOR [cLevel]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_LevelUpPoint]  DEFAULT ((0)) FOR [LevelUpPoint]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_Experience]  DEFAULT ((0)) FOR [Experience]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_Money]  DEFAULT ((0)) FOR [Money]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_MapDir]  DEFAULT ((0)) FOR [MapDir]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_PkCount]  DEFAULT ((0)) FOR [PkCount]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_PkLevel]  DEFAULT ((3)) FOR [PkLevel]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_PkTime]  DEFAULT ((0)) FOR [PkTime]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_CtlCode]  DEFAULT ((0)) FOR [CtlCode]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__DbVer__787EE5A0]  DEFAULT ((0)) FOR [DbVersion]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Quest__797309D9]  DEFAULT ((0)) FOR [Quest]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__ChatL__7B5B524B]  DEFAULT ((0)) FOR [ChatLimitTime]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_FruitPoint]  DEFAULT ((0)) FOR [FruitPoint]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Fruit__4F67C174]  DEFAULT ((0)) FOR [FruitAddPoint]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Fruit__505BE5AD]  DEFAULT ((0)) FOR [FruitSubPoint]
GO
ALTER TABLE [dbo].[DefaultClassType] ADD  CONSTRAINT [DF__DefaultCl__Level__72910220]  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[DefaultClassType] ADD  CONSTRAINT [DF__DefaultCl__Level__73852659]  DEFAULT ((0)) FOR [LevelUpPoint]
GO
ALTER TABLE [dbo].[GameServerInfo] ADD  CONSTRAINT [DF_GameServerInfo_Number]  DEFAULT (0) FOR [Number]
GO
ALTER TABLE [dbo].[Guild] ADD  CONSTRAINT [DF_Guild_G_Score]  DEFAULT ((0)) FOR [G_Score]
GO
ALTER TABLE [dbo].[Guild] ADD  CONSTRAINT [DF__Guild__MemberCou__10566F31]  DEFAULT ((0)) FOR [MemberCount]
GO
ALTER TABLE [dbo].[GuildMember] ADD  CONSTRAINT [DF__GuildMemb__G_Sta__01D345B0]  DEFAULT ((0)) FOR [G_Status]
GO
ALTER TABLE [dbo].[MEMB_INFO] ADD  CONSTRAINT [DF_MEMB_INFO_AccountLevel]  DEFAULT ((0)) FOR [AccountLevel]
GO
ALTER TABLE [dbo].[MEMB_INFO] ADD  DEFAULT ((0)) FOR [AccountExpireDate]
GO
ALTER TABLE [dbo].[MEMB_INFO] ADD  DEFAULT ((0)) FOR [Bloc_Expire]
GO
ALTER TABLE [dbo].[MEMB_STAT] ADD  CONSTRAINT [DF__MEMB_STAT__Onlin__22751F6C]  DEFAULT ((0)) FOR [OnlineHours]
GO
ALTER TABLE [dbo].[ResetInfo] ADD  DEFAULT ((0)) FOR [ResetDay]
GO
ALTER TABLE [dbo].[ResetInfo] ADD  DEFAULT ((0)) FOR [ResetWek]
GO
ALTER TABLE [dbo].[ResetInfo] ADD  DEFAULT ((0)) FOR [ResetMon]
GO
ALTER TABLE [dbo].[ResetInfo] ADD  DEFAULT ((0)) FOR [GrandResetDay]
GO
ALTER TABLE [dbo].[ResetInfo] ADD  DEFAULT ((0)) FOR [GrandResetWek]
GO
ALTER TABLE [dbo].[ResetInfo] ADD  DEFAULT ((0)) FOR [GrandResetMon]
GO
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF_warehouse_Money]  DEFAULT ((0)) FOR [Money]
GO
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF__warehouse__DbVer__690797E6]  DEFAULT ((0)) FOR [DbVersion]
GO
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF__warehouse__pw__69FBBC1F]  DEFAULT ((0)) FOR [pw]
GO
